<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rypsurvey">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SubmitActivity"></activity>
        <activity android:name=".EndActivity" />
        <activity android:name=".QuestionSevenActivity" />
        <activity android:name=".QuestionSixActivity" />
        <activity android:name=".QuestionFiveActivity" />
        <activity android:name=".QuestionFourActivity" />
        <activity android:name=".QuestionThreeActivity" />
        <activity android:name=".QuestionTwoActivity" />
        <activity android:name=".QuestionOneActivity" />
        <activity android:name=".StarActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>